body {
  width: 100%; /* Set to 100% to prevent horizontal scrolling */
  margin: 0;
  overflow: hidden; /* Remove the scroll bar */
  background-image: url("https://cdn.pixabay.com/photo/2013/07/21/13/00/rose-165819_1280.jpg");
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Arial', sans-serif;
}

a {
  color: #4d4dff;
}

a:hover {
  color: #ff6666;
}

#wrap {
  margin: 40px auto;
  width: 80%; /* Adjusted width */
  background-image: url("https://cdn.pixabay.com/photo/2015/04/19/08/32/marguerite-729510_1280.jpg");
  background-size: cover;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

#header {
  background: #f9f9f9;
  padding: 20px 0 20px 0; /* Adjusted padding */
  text-align: center;
}

#header h1 {
  margin: 0;
  padding: 0;
  font-weight: bold;
  color: #333;
  font-size: 36px;
  line-height: 1.5;
}

#header h2 {
  margin: 10px 0;
  padding: 10px;
  font-weight: normal;
  color: #fff;
  font-size: 20px;
  background: #4d4dff;
  border: 1px solid #4d4dff;
  border-radius: 10px;
}

#topmenu {
  background: #4d4dff;
  padding: 10px 20px;
  border-bottom: 1px solid #ccc;
}

#topmenu ul {
  list-style-type: none;
}

#topmenu li {
  display: inline;
  margin-right: 20px;
}

#topmenu li a {
  text-decoration: none;
  color: #fff;
}

.search {
  float: right; /* Align to the right */
  margin-top: 20px; /* Adjust the top margin */
}

#menu {
  font-size: 14px;
  float: right;
  width: 25%; /* Adjusted width */
  color: #fff;
  margin: 20px 20px 20px 0;
}

#menu h3 {
  font-weight: normal;
  background: #666;
  color: #fff;
  padding: 5px;
  margin: 10px 0;
}

#menu ul {
  border-radius: 10px;
  list-style-type: none;
  margin: 0;
  padding: 0 10px 10px 10px;
}

#menu ul li a {
  color: #12c;
  text-decoration: none;
  border-bottom: 1px dotted #12c;
  display: block;
  padding: 8px 0;
}

#menu ul li a:hover {
  color: #c12;
  border-bottom: 1px dotted #c12;
}

#content {
  float: left;
  width: 65%; /* Adjusted width */
  margin: 20px 0 40px 20px;
}

#content h2 {
  font-weight: bold;
  font-size: 28px; /* Adjusted font size */
  line-height: 1.5;
  color: #4d4dff;
}

#content h3 {
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

.sleft img {
  width: 100%; /* Set the desired width for the image */
  height: auto;
  margin: 10px 0;
  max-width: 30%;
}
.cright img {
  width: 100%; /* Set the desired width for the image */
  height: auto;
  margin: 10px 0;
  max-width: 30%;
}

#footer {
  background-color: #4d4dff;
  color: #fff;
  padding: 20px;
  border-top: 1px solid #333;
  border-radius: 10px;
  text-align: center;
}

#footer a {
  color: #fff;
  text-decoration: none;
  border-bottom: 1px dotted #fff;
}

#footer a:hover {
  border-bottom: 1px dotted #ccc;
}

.left {
  float: left;
}

.right {
  float: right;
}

.clear {
  clear: both;
}

.sleft,
.cright {
  float: left;
  width: 40%; /* Adjusted width */
  height: 100px; /* Set a fixed height */
  margin-right: 20px; /* Add margin for spacing between images */
}

.sleft img,
.cright img {
  width: 100%;
  height: 180%; /* Set the image height to 100% of the container */
  margin: 10px 0;
  max-width: 100%;
}
