body {
  margin: 0;
  padding: 0;

}

header {
  background-color: #4CAF50; /* Green background color */
  text-align: center;
  padding: 20px;
}

.board {
  display: inline-block;
  board: 2px solid #333;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.square{
  width: 60px;
  height: 60px;
}

.white{
  background: #fff;
}

.black{
  background: #333;
}
footer {
  background-color: #333; /* Dark background color */
  padding: 1px;
  text-align: center;
  color: white;
}

footer img {
  margin: 10px;
}
