body.water-blue-bg {
  background-color: #6495ED; /* Water blue color */
  margin: 0;
  padding: 0;

}

header {
  background:  linear-gradient(to right, #3498db, #2ecc71); /* Blue to green gradient */  
  text-align: center;
  font-family: DancingScriptRegular;
  padding: 55px;
}

.board {
  display: inline-block;
  border: 2px solid #333;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.square{
  width: 60px;
  height: 60px;
}

#chessboard {
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  width: 2000px; /* Adjust the width as needed */
  margin: 1px auto;
  background-color: #6495ED; /* Water blue color */

}

.white{
  border: 1px solid black;
  width: 10%;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color:#8b4513; /* Dark brown */
  float:left;
}

.black{
  border: 1px solid black;
  width: 10%;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color:#d2b48c; /* Light brown */
  float:left;
}


footer {
  background: linear-gradient(to right, #3498db, #2ecc71); /* Blue to green gradient */
  padding: 30px;
  text-align: center;
  color: white;
}

footer img {                                                                                                          
  margin: 5px;                                                                                                              
}  
  
