body.water-blue-bg {
  background: url("https://img.freepik.com/free-photo/abstract-dark-background-with-flowing-colouful-waves_1048-13124.jpg?w=1060&t=st=1705376474~exp=1705377074~hmac=0d37b64f34748e439281679f359cf0b854d0687de453d1b22ffe819dcc400527") center center/cover;
  margin: 0;
  padding: 0;
  overflow: hidden;
  

}

header {
  background:  linear-gradient(to right, #3498db, #2ecc71); /* Blue to green gradient */  
  text-align: center;
  font-family: DancingScriptRegular;
  padding: 40px;
}

.board {
  display: inline-block;
  border: 2px solid #333;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.square{
  width: 60%;
  height: 60%;
}

#chessboard {
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  width: 1200px; /* Adjust the width as needed */
  height: 1000px;
  margin-left: auto;
  margin-right: auto;


}

.white{
  border: 1px solid black;
  width: 10%;
  height: 123px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color:#8b4513; /* Dark brown */
  float:left;
}

.black{
  border: 1px solid black;
  width: 10%;
  height: 123px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color:#d2b48c; /* Light brown */
  float:left;
}


footer {
  background: linear-gradient(to right, #3498db, #2ecc71); /* Blue to green gradient */
  padding: 40px;
  text-align: center;
  color: white;
}

footer img {                                                                                                          
  margin: 5px;                                                                                                              
}
